<div class="flex">
    <div class="flex-initial">
        <a href="/Recipe/Index">Wszystkie receptury</a>
    </div>
    <div class="flex-initial">
        <a href="/Stage/Create">Dodaj etap</a>
    </div>
</div>


