<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - beerOfThings</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/output.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js" asp-append-version="true"></script>
</head>
<body>
    <nav class="bg-white shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-7">
                    <div>
                        <!-- Website Logo -->
                        <a href="" class="flex items-center py-4 px-2">
                            <span class="font-semibold text-gray-500 text-lg">Beer of Things</span>
                        </a>
                    </div>
                    <!-- Primary Navbar items -->
                    <div class="hidden md:flex items-center space-x-1">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4">Strona domowa</a>
                        <a asp-area="" asp-controller="Recipe" asp-action="Index" class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4">Receptury</a>
                        <a asp-area="" asp-controller="Process" asp-action="Index" class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4">Historia ważenia</a>
                        <a asp-area="" asp-controller="Ingredients" asp-action="Index" class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4">Składniki</a>
                    </div>
                </div>
                <!-- Secondary Navbar items -->
                <div class="hidden md:flex items-center space-x-3 ">
                    <a href="/User/SignIn" class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-green-500 hover:text-white transition duration-300">Log In</a>
                    <a href="/User/SignUp" class="py-2 px-2 font-medium text-white bg-green-500 rounded hover:bg-green-400 transition duration-300">Sign Up</a>
                </div>
                <!-- Mobile menu button -->
                <div class="md:hidden flex items-center">
                    <button class="outline-none mobile-menu-button">
                        <svg class=" w-6 h-6 text-gray-500 hover:text-green-500 "
                             x-show="!showMenu"
                             fill="none"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             stroke-width="2"
                             viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <!-- mobile menu -->
        <div class="hidden mobile-menu">
            <ul class="">
                <li class="active"><a asp-controller="Home" asp-action="Index" class="block text-sm px-2 py-4 text-white bg-green-500 font-semibold">Strona domowa</a></li>
                <li><a asp-area="" asp-controller="Recipe" asp-action="Index" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Receptury</a></li>
                <li><a asp-area="" asp-controller="Process" asp-action="Index"  class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Historia ważenia</a></li>
                <li><a asp-controller="Ingredients" asp-action="Index" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Składniki</a></li>
            </ul>
        </div>
        <script>
            const btn = document.querySelector("button.mobile-menu-button");
            const menu = document.querySelector(".mobile-menu");

            btn.addEventListener("click", () => {
                menu.classList.toggle("hidden");
            });
        </script>
    </nav>
    <br />
    <div class="container w-full md:max-w-3xl mx-auto pt-20">
        <main role="main" class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal" style="font-family:Georgia,serif;">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/progressbar.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/recipeFilter.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
