
<div class=" justify-center content-center flex-wrap">
    <p class="font-sans text-black error-text">Błąd nie masz uprawnień</p>
</div>

<div class="absolute w-screen h-screen  mb-6 text-black flex text-center font-sans text-xl">
    <span class="opacity-50">Zaloguj się aby uzyskać uprawnienia &nbsp;</span>
    <a class="border-b" href="/User/SignIn">Zaloguj</a>
</div>
