@model beerOfThings.Models.WarmingHistory

@{
    ViewData["Title"] = "Create";
}

<h2>Uważ wybrane piwo:</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="RecipeId">
                    @{ foreach (beerOfThings.Models.Recipe recipe in ViewBag.Recipes)
                        {
                            <option value="@recipe.Id">@recipe.Name</option>
                        }

                    }

                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
